
.upper-header {
    color: blue;
}

.testJsDiv {
    display: block;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

.testJsDiv2 {
    width: 50px;
    height: 50px;
    background-color: blue;
}