
.upper-header {
    color: blue;
}

.catalog {
    display: flex;
    height: 100%;
}

.catalog > div {
    margin-right: 40px;
}

.catalogItems {
    display: flex;
    flex-direction: column;
}

.catalogItems > img {
    padding-bottom: 20px;
}

.catalogItems > div {
    padding-bottom: 20px;
}

.imageThumb {
    width: 180px;
    height: 200px;
}

.catalogItemButtons {
    display: flex;
    justify-content: space-between;
}

.catalogItemButtonAdd {
    width: 80px;
    height: 40px;
}

.clearCart {
    width: 80px;
    height: 40px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
}

.totalPrice {

    display: flex;
    flex-direction: column;
    width: 120px;
    height: 60px;
    border: solid 3px rebeccapurple;
    margin-right: 3px;
}

.price {
    display: flex;
    align-items: center;
}

.cartItems {
    display: flex;
    flex-direction: column;
}

.cartThumb {
    width: 180px;
    height: 200px; 
}